{% extends "layout.html" %}

{% block content %}

<h2>Alex Grek</h2>
<i>Python/C#/JavaScript/Java/Back-end/Front-end developer</i><br />

<address>
    <strong>Phones:</strong><br />
    <span class="glyphicon glyphicon-phone"></span>
    098 508 19 84<br />
    <span class="glyphicon glyphicon-phone"></span>
    091 996 28 33
</address>

<address>
    <strong>GitHub:</strong>   <a href="https://github.com/AlexGrek">AlexGrek</a><br />
    <strong>Gmail:</strong> <a href="mailto:alexgrek.hq@gmail.com">alexgrek.hq@gmail.com</a><br />
    <strong>Vk:</strong> <a href="http://vk.com/islayery">Alexander</a>
</address>

{% endblock %}
