{% extends "layout.html" %}

{% block content %}

<script src="../static/scripts/bookscr.js"></script>

<div class="jumbotron">
    <h1>FlaskLib</h1>
    <p class="lead">FlaskLib is an application to manage information about books and writers.</p>
    <p><a href="{{ url_for('about') }}" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="bookshelf">
    {% for book in books %}
    <div class="book" id="b{{ book.id }}">
        <h3>{{book.title}}</h3>
    </div>
    {% endfor %} 
    <a href="{{ url_for('add_book') }}">
        <div class="book" id="add">
            <span class="glyphicon glyphicon-plus" style="margin-top: 50px"></span> 
            <h2>Add</h2>
        </div>
    </a>
</div>


{% endblock %}
